<li class="next">
  <%= link_to_unless current_page.last?, t('views.pagination.next').html_safe, url, rel: 'next', remote: remote, class: "block px-3 py-2 leading-tight text-neutral-content bg-neutral rounded-r-lg hover:bg-neutral-focus" %>
</li>
