<li class="prev">
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: "block px-3 py-2 ml-0 leading-tight text-neutral-content bg-neutral rounded-l-lg hover:bg-neutral-focus" %>
</li>
