<div class="carousel carousel-center rounded-box">
  <% @animation.each do |a| %>
    <div>
      <div class="card w-80 px-4 bg-base-100 shadow-xl">
        <figure><%= image_tag a.image, class: "w-full h-36 object-cover object-center" %></figure>
        <div class="card-body px-4">
          <h2 class="card-title"><%= a.title.truncate(11) %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
